@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', Arial, Helvetica, system-ui, -apple-system, sans-serif;
}
:root {
  --Bg: rgb(20, 20, 20);
  --Bg2: rgba(20, 20, 20, 0.5);
  --Div: rgba(255, 255, 255, 0.2);
  --txt: rgba(255, 255, 255, 0.8);
  --Kustom: #ff9900;
  --Icons-size: 2rem;
  --trans: all 0.2s ease-in-out;
}
html {
  height: 100%;
  width: 100%;
}
/* Header & Contents */
.head {
  height: 10vh;
  padding: 0 2rem;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  position: relative;
  z-index: 1;
  background: var(--Bg2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* Sapce user */
.head-box {
  width: 16.73rem;
  display: flex;
  justify-content: space-between;
  position: absolute;
  top: 0.6rem;
  left: 0.6rem;
  /* border: 1px solid rgb(102, 255, 0); */
}
.head-box_user {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
.head_btns {
  padding: 0.5rem;
  display: flex;
  cursor: pointer;
  border: none;
  background: none;
}
.head-icons {
  font-size: var(--Icons-size);
  color: var(--txt);
}
/* Dropdowns */
.head-dropdown01 {
  padding: 0.5rem 0;
  position: absolute;
  right: 2rem;
  z-index: 2;
  opacity: 0;
  display: none;
  visibility: hidden;
  border-radius: 1rem;
  background: var(--Bg2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.head-dropdown01.show {
  opacity: 1;
  display: block;
  visibility: visible;
}
.drop-head {
  width: 16rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  cursor: pointer;
  border-radius: 1rem;
  transition: var(--trans);
  &:hover {
    background-color: var(--Bg2);
  }
}
.drop-div {
  margin-right: 0.7rem;
  display: flex;
}
.drop-div img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.drop-at {
  margin-right: 0.3rem;
  padding: 0.1rem;
  color: var(--txt);
}
.drop-username {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--txt);
  letter-spacing: 1px;
  display: flex;
  justify-content: center;
  align-items: center;
}
/* Drop main */
.drop-main {
  display: flex;
  flex-direction: column;
}
.drop_list {
  list-style: none;
}
.drop-icons {
  padding: 0.4rem;
  font-size: var(--Icons-size);
}
.drop-link {
  text-decoration: none;
  color: var(--txt);
  display: flex;
  align-items: center;

  &:hover {
    color: var(--Kustom);
    background: rgba(255, 153, 0, 0.1);
  }
}

.head-dropdown02 {
  height: 24rem;
  padding: 0.5rem 0;
  position: absolute;
  right: 5rem;
  z-index: 2;
  opacity: 0;
  display: none;
  visibility: hidden;
  border-radius: 1rem;
  background: var(--Bg2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.head-dropdown02.show {
  opacity: 1;
  display: block;
  visibility: visible;
}
.drop-head02 {
  width: 22rem;
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
.notif-title {
  width: 100%;
  text-align: center;
  color: var(--txt);
}

/* others */
.title-primary {
  font-size: var(--Icons-size);
  letter-spacing: 1.2px;
}
.title-link {
  text-decoration: none;
  color: var(--txt);
  border-bottom: 3px solid transparent;
  transition: var(--trans);
  &:hover {
    color: var(--Kustom);
    border-bottom: 3px solid var(--Kustom);
  }
}

/* NAVBAR & CONTENTS */
.navbar {
  height: 90vh; /* 100vh */
  width: 18rem; /* 6rem */
  padding: 0.6rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: absolute;
  top: 10vh;
  z-index: 1;
  opacity: 1;
  visibility: hidden;
  transform: translateX(-100%);
  backdrop-filter: blur(8px);
  -webkit-backdrop-filter: blur(8px);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
  background: var(--Bg2);
  box-shadow: 0 99px 30px 2px rgba(30, 30, 30, 1);
  transition: var(--trans);
}
.navbar.active {
  opacity: 1;
  visibility: visible;
  transform: translateX(0%);
}
/* Nav header */
.nav-head {
  display: flex;
  justify-content: space-between;
  /* border: 1px solid red; */
}
.nav-head_btn {
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  display: flex;
  cursor: pointer;
  border: none;
  background: none;
  /* border: 1px solid red; */
}
.nav-logo {
  height: 100%;
  width: 100%;
  text-decoration: none;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.nav-logo img {
  height: 3rem;
  width: 3rem;
  object-fit: cover;
  border-radius: 50%;
}
.nav_title {
  color: var(--txt);
}
/* NAv list */
.nav-ul {
  display: flex;
  flex-direction: column;
  gap: 0.7rem;
}
.nav-list {
  list-style: none;
}
.nav-link {
  width: 100%;
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--txt);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  transition: var(--trans);
  &:hover {
    color: var(--Kustom);
    background: rgb(255, 153, 0, 0.1);
  }
}
.nav-icons {
  margin-right: 0.5rem;
  padding: 0.5rem;
  font-size: 1.8rem;
  display: flex;
}
/* Nav Footer */
.nav-foot {
  margin: auto 0 0 0;
  display: flex;
  flex-direction: column;
}
.nav-foot_list {
  list-style: none;
}
.nav-btn {
  width: 100%;
  padding: 0.3rem;
  font-size: 1.1rem;
  text-decoration: none;
  letter-spacing: 1px;
  color: var(--txt);
  display: flex;
  align-items: center;
  border-radius: 0.5rem;
  transition: var(--trans);
  &:hover {
    color: var(--Kustom);
    background: rgb(255, 153, 0, 0.1);
  }
}
/* Divisor */
.divisorbar {
  width: 100%;
  margin: 0.6rem 0;
  display: flex;
}
.divisorbar span {
  height: 3px;
  width: 100%;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.2),
    transparent
  );
}
/* MAIN & CONTENTS */
.main {
  height: 90vh;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
:root {
  --Bg: rgb(20, 20, 20);
  --Bg2: rgba(20, 20, 20, 0.5);
  --Div: rgba(255, 255, 255, 0.2);
  --txt: rgba(255, 255, 255, 0.8);
  --Kustom: #ff9900;
  --Icons-size: 2rem;
  --trans: all 0.2s ease-in-out;
}
:root {
  --Bg-Color: #1e1e1e;
  --Bg2-Color: rgba(30, 30, 30, 0.5);
  --Bg3-Color: rgba(30, 30, 30, 0.8);

  --Containers-Color: rgba(0, 0, 0, 0.5);
  --Container-footer: #191f1b;

  --Hover-Color: #00ff88;

  --Text: #ffffff;

  --transition-all: all 0.3s ease-in-out;
}
body {
  height: 100vh;
  width: 100%;
  background: var(--Bg);
  /* background: url(../Asset/Bg-Mnecraft.png) var(--Bg-Color) no-repeat fixed;
  background-size: cover;
  background-position: bottom center; */
}
.page_404 {
  padding: 10rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--txt);
}
.container {
  padding: 0.7rem;
}
.title404 {
  font-size: 3rem;
  font-weight: bold;
  text-align: center;
}
.sub404 {
  font-size: 1.5rem;
  font-weight: 700;
}
.txt404 {
  font-size: 1rem;
}
/* HEADER */
.container-header {
  width: 100%;
  padding-top: 0.4rem;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: fixed;

  z-index: 9;

  background-color: var(--Containers-Color);
}
.hdc-box {
  display: flex;
  gap: 20rem;
}
/* Title */
.title-link {
  font-size: 2rem;
  text-decoration: none;
  color: var(--Text);
  letter-spacing: 2px;
}
.hds-box {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.icon-link {
  font-size: 1.3rem;
  color: var(--Text);

  display: flex;
  justify-content: center;
  align-items: center;

  transition: var(--transition-all);

  &:hover {
    color: var(--Hover-Color);
  }
}
/* nav-header */
.menu-header {
  width: 100%;
  padding: 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ul__menu-h {
  list-style: none;
  display: flex;
  gap: 1rem;
}
.a__menu-h {
  padding: 0.3rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Text);
  letter-spacing: 1.2px;

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.3rem;

  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
  transition: var(--transition-all);

  &:hover {
    color: var(--Hover-Color);
    border-top: 1px solid var(--Hover-Color);
    border-bottom: 1px solid var(--Hover-Color);
  }
}
/* Profile */
.box-profile {
  display: flex;
  justify-content: center;
  align-self: center;

  position: absolute;
  top: 1rem;
  right: 3rem;
}
.icon-profile {
  font-size: 1.7rem;
  color: var(--Text);
  cursor: pointer;
  border-radius: 1rem;
  transition: var(--transition-all);

  &:hover {
    box-shadow: 0px 0px 12px var(--Hover-Color);
  }
}

/* NAV */
.container-nav {
  height: 5vh;
  width: 100%;
  padding-top: 4.2rem;
  border: 1px solid red;
}
.ul__menu-n {
  padding: 0.7rem;
  list-style: none;
  display: flex;
  justify-content: center;
  gap: 1rem;
  background-color: var(--Menu-Color);
}
.a__menu-n {
  padding: 0.5rem;
  font-size: 0.7rem;
  font-weight: 600;

  text-transform: uppercase;
  text-decoration: none;
  color: var(--Text-two);
  letter-spacing: 1.1px;

  border-radius: 0.7rem;
  background-color: var(--Containers-Color);
  transition: var(--transition-all);

  &:hover {
    text-decoration: underline;
    background-color: var(--Menu-Color);
  }
}

/* MAIN */
.container-main {
  width: 100%;
  display: flex;
  flex-direction: column;
}
/* section 1 */
.sc__box-banner {
  height: 81.7vh;
  margin: 7.6rem 5rem 0;

  display: grid;
  flex-direction: column;

  border: 2px solid var(--Hover-Color);
  border-radius: 0.5rem;
  background-color: var(--Bg3-Color);
}
.hd__box {
  width: 100%;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: var(--Bg-Color);
}
.title-primary2 {
  padding: 0.3rem 1rem;
  font-size: 1.2rem;
  font-weight: 500;
  color: var(--Text);
  letter-spacing: 1.2px;
  border-radius: 1.3rem;
  background-color: var(--Bg2-Color);
}
.d-text {
  color: var(--Hover-Color);
}

[data-component='slideshow'] .slide {
  display: none;
}
[data-component='slideshow'] .slide.active {
  display: block;
}

.slide {
  width: 100%;
  height: 100%;

  display: flex;
}
.slide img {
  height: 100%;
  width: 75%;
  border-radius: 0 0 0 0.5rem;
}

.content-slide {
  width: 18.7rem;
  padding: 0.4rem;
  position: absolute;
  top: 10.1rem;
  right: 5rem;
}
/* content */
.title-primary__slidebox {
  margin-bottom: 0.2rem;
  color: var(--Text);
}
.p-text__slidebox {
  color: var(--Text);
}

/* consoles */
.consoles {
  margin-top: 0.7rem;
  color: var(--Text);
}
.box-text__c {
  margin: 0.5rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
.icons-consoles {
  font-size: 1.4rem;

  transition: var(--transition-all);

  &:hover {
    color: var(--Hover-Color);
  }
}
/* section 2 */
.sc-content {
  padding-top: 5.5rem;
  border: 1px solid orange;
}
.dscc-title {
  display: flex;
  justify-content: center;
  align-items: center;
}
.title-primary3 {
  padding: 0.3rem;
  font-size: 2rem;
  text-transform: uppercase;
  color: var(--Text);

  border-top: 1px solid var(--Hover-Color);
  border-bottom: 1px solid var(--Hover-Color);
}
.player {
  color: var(--Hover-Color);
}
/* content */
.db-banner {
  height: 50%;
  border: 1px solid yellow;
}
.banner {
  height: 100%;
  background-color: #202020;
}
.div__icon-arrow {
  width: 95%;
  display: flex;
  justify-content: space-between;
  align-items: center;

  position: absolute;
  top: 14.5rem;
  left: 2rem;
}
.icon-arrow {
  font-size: 2.2rem;
  color: var(--Bg-Color);

  cursor: pointer;

  display: flex;
  justify-content: center;
  align-items: center;
}

/* main */
.scc-box {
  height: 52.5%;
  padding: 1rem 4rem 0;
}
.dcc-box {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: space-between;
  border: 1px solid red;
}
/* Card game */
.cards {
  height: 10rem;
  width: 16rem;
  border: 1px solid black;
}
/* header */
.header__cards {
  padding: 0.2rem;
  color: var(--Bg-Color);
  display: flex;
  align-self: center;
  justify-content: space-between;

  background-color: var(--Bg-Color);
}
.title-game {
  font-size: 1rem;
  font-weight: 500;
}
.avaliacao {
  display: flex;
  align-self: center;
}
.star {
  margin-right: 0.3rem;
  color: yellow;
}
/* main */
.main__cards {
  height: 85%;
  width: 100%;
}
.main__cards img {
  height: 100%;
  width: 100%;
}
/* FOOTER */
.container-footer {
  padding: 1rem 3rem;

  color: var(--Text);

  display: flex;
  justify-content: center;
  align-items: center;
  gap: 3rem;

  background-color: var(--Container-footer);
}
.f-db {
  display: flex;
  /* justify-content: center;
    align-items: center; */
  flex-direction: column;
  border: 1px solid red;
}

.box-1 {
  text-align: left;
}
/* title e text */
.f-tpl {
  padding-bottom: 0.3rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--Text);

  border-bottom: 1px solid var(--Text);

  &:hover {
    color: var(--Hover-Color);
    border-bottom: 1px solid var(--Hover-Color);
  }
}
.text-link__footer {
  font-size: 1rem;
  text-decoration: none;
  color: var(--Text-two);
  border-bottom: 1px solid transparent;

  &:hover {
    color: var(--Containers-Color);
    border-bottom: 1px solid var(--Containers-Color);
  }
}
.span__line {
  height: 0.12rem;
  width: 1rem;
  margin: 0 0.8em;
  background-color: var(--Bg-Color);
}
/* social */
.box__footer-social {
  margin: 0 1rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}
.social {
  font-size: 1.6rem;
  color: var(--Text-two);
  transition: var(--transition-all);

  &:hover {
    color: var(--Containers-Color);
  }
}
