.head {
  height: 8vh;
  width: 100%;
  padding: 0 1rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  z-index: 2;
  background: var(--Bg2);
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}
/* BTN Nav & Logo */
.head-Box {
  width: 15rem;
  display: flex;
  justify-content: space-between;
}
/* BTN */
.head_btns {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: none;
  background: none;
}
.head-icons {
  padding: 0.5rem;
  font-size: var(--Icons-size);
  color: var(--Col);
}
/* Logo */
.nav-logo {
  text-decoration: none;
  color: var(--Col);
  display: flex;
  align-items: center;
  gap: 0.3rem;
  &:hover {
    color: var(--Kustom);
  }
}
.nav-logo img {
  height: 2.7rem;
  width: 2.7rem;
  object-fit: cover;
  border-radius: 50%;
}
/*  */
.head-box_user {
  display: flex;
  align-items: center;
  gap: 0.3rem;
}
/* Notif */
.dropNotif {
  height: auto;
  width: 15rem;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 4rem;
  border-radius: 0.5rem;
  background: var(--Bg2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dropNotif.show {
  display: block;
}
.top-drop {
  padding: 0.7rem;
  border-bottom: var(--Divisor);
}
.drop-title {
  font-size: 1.3rem;
  text-align: center;
  color: var(--Col);
}
/* User */
.dropUser {
  height: auto;
  width: 15rem;
  display: none;
  flex-direction: column;
  position: absolute;
  top: 4rem;
  right: 1rem;
  border-radius: 0.5rem;
  background: var(--Bg2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.dropUser.show {
  display: block;
}
.BTN-Login {
  width: 100%;
  padding: 0.4rem;
  font-size: 1rem;
  color: var(--Col);
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border-radius: 0.4rem;
  border: 2px solid var(--Kustom);
  background: none;
  &:hover {
    color: var(--Bg);
    background: var(--Kustom);
    box-shadow: 0 0 18px 1px rgba(135, 90, 31, 0.4);
  }
}
.show {
  display: block;
}
