@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Kanit', Arial, Helvetica, system-ui, -apple-system, sans-serif;
}
:root {
  --Bg: rgb(20, 20, 20);
  --Bg2: rgb(32, 32, 32);
  --Bg3: #000;
  --Divisor: rgba(255, 255, 255, 0.2);
  --Col: rgba(255, 255, 255, 0.8);
  --Col-2: rgba(255, 255, 255, 0.5);
  --Kustom: #ff9900;
  --Kustom-2: #d47f00;
  --Icons-size: 1.7rem;
  --Ani: all 0.2s ease-in-out;
}
html,
body {
  height: 100%;
  position: relative;
  color: var(--Col);
  background: var(--Bg3);
}
/* Pre loading */
div#preloader {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--Bg);
  z-index: 99999;
}
.loader .title {
  color: var(--Col);
  font-size: 1rem;
  letter-spacing: 2px;
  font-weight: 200;
  text-align: center;
}
.loader {
  margin-top: -50px;
  margin-left: -50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  position: absolute;
  top: 50%;
  left: 50%;
}
/*Carregando*/
.carregando {
  height: 1em;
  width: 1em;
  margin-bottom: 35px;
  margin-left: 20px;
  font-size: 3rem;
  text-indent: -9999em;
  color: var(--Kustom);
  overflow: hidden;
  display: block;
  border-radius: 50%;
  transform: translateZ(0);
  animation: mltShdSpin 1.5s infinite ease, round 1.5s infinite ease;
}
@keyframes mltShdSpin {
  0% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  5%,
  95% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
  10%,
  59% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.087em -0.825em 0 -0.42em,
      -0.173em -0.812em 0 -0.44em, -0.256em -0.789em 0 -0.46em,
      -0.297em -0.775em 0 -0.477em;
  }
  20% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.338em -0.758em 0 -0.42em,
      -0.555em -0.617em 0 -0.44em, -0.671em -0.488em 0 -0.46em,
      -0.749em -0.34em 0 -0.477em;
  }
  38% {
    box-shadow: 0 -0.83em 0 -0.4em, -0.377em -0.74em 0 -0.42em,
      -0.645em -0.522em 0 -0.44em, -0.775em -0.297em 0 -0.46em,
      -0.82em -0.09em 0 -0.477em;
  }
  100% {
    box-shadow: 0 -0.83em 0 -0.4em, 0 -0.83em 0 -0.42em, 0 -0.83em 0 -0.44em,
      0 -0.83em 0 -0.46em, 0 -0.83em 0 -0.477em;
  }
}
@keyframes round {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
/*  */
::selection {
  color: #ff9900;
}
::-webkit-scrollbar {
  width: 0.6rem;
  background: var(--Bg);
}
::-webkit-scrollbar-thumb {
  border-radius: 1rem;
  background: var(--Kustom);
}

/* Error Msg */
.screen_Error {
  height: 100vh;
  width: 100vw;
  display: none;
  align-items: center;
  justify-content: center;
  position: fixed;
  z-index: 2;
  background: rgba(0, 0, 0, 0.4);
  transition: var(--Ani);
}
.Msg-Error {
  height: 40vh;
  width: 40vw;
  color: var(--Col);
  display: flex;
  align-items: center;
  flex-direction: column;
  z-index: 1;
  border-radius: 1rem;
  background: var(--Bg2);
  border: 1px solid var(--Divisor);
  box-shadow: 0 12px 2rem 0 rgba(59, 59, 59, 0.37);
  transition: var(--Ani);
}
.screen_Error.show {
  display: flex;
}
.Msg-Icon {
  font-size: 5rem;
  color: var(--Kustom);
}
#msg {
  font-size: 2rem;
  font-weight: bold;
  text-transform: uppercase;
}
.BTNclose {
  display: flex;
  border: none;
  background: none;
}
.CloseWindow {
  margin-top: 1rem;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: var(--Kustom);
  cursor: pointer;
  border: 2px solid var(--Kustom);
  border-radius: 0.5rem;
  background: none;
  &:hover {
    color: var(--Bg);
    background: var(--Kustom);
  }
}
/* N A V */
.menu {
  height: calc(100% - 8vh);
  width: calc(100% - 82.5vw);
  padding: 0.3rem 0.8rem;
  display: flex;
  position: fixed;
  bottom: 0;
  z-index: 2;
  transform: translateX(-17rem);
  transition: var(--Ani);
  background: var(--Bg2);
}
.menu.activeMenu {
  transform: translateX(0rem);
}
.menu-ul {
  width: 100%;
  display: flex;
  flex-direction: column;
  list-style: none;
  gap: 0.1rem;
}
.nav-link {
  padding: 0.3rem 0.5rem;
  font-size: 1rem;
  font-weight: 600;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Col);
  letter-spacing: 1.2px;
  display: flex;
  align-items: center;
  gap: 0.9rem;
  border: 1px solid transparent;
  transition: var(--Ani);
  &:hover {
    border: 1px solid var(--Kustom);
    color: var(--Kustom);
  }
}
.menu-icons {
  padding: 0.3rem;
  font-size: 1.5rem;
}
.show {
  display: flex;
}
.divisorbar {
  height: 0.1rem;
  width: 100%;
  margin: 0.7rem;
  padding: 0.07rem;
  display: flex;
  background: linear-gradient(
    90deg,
    transparent,
    rgba(255, 255, 255, 0.3),
    transparent
  );
}
.menu-Foot {
  margin-top: auto;
}
/* M A I N */
.main {
  padding-top: 6vh;
  display: flex;
  flex-direction: column;
}
/* CloudMenu */
.Box_cloudMenu {
  padding: 0.4rem;
  display: flex;
  justify-content: center;
}
.cloudMenu {
  width: max-content;
  padding: 0 0.7rem;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 5rem;
  z-index: 1;
  border-radius: 0.5rem;
  background: var(--Bg2);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.cM-ul {
  display: flex;
  gap: 0.3rem;
  list-style: none;
}
.cM-a {
  padding: 0.4rem 0.6rem;
  text-decoration: none;
  color: var(--Col);
  display: flex;

  transition: var(--Ani);

  &:hover {
    color: var(--Kustom);
    background: linear-gradient(
      0deg,
      rgba(255, 153, 0, 0.7),
      rgba(255, 153, 0, 0.3),
      transparent
    );
  }
}
/* Search */
.searchBox {
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  border-left: 1px solid rgba(255, 255, 255, 0.2);
  &:hover {
    border: 1px solid var(--Kustom);
  }
  &:focus {
    border: 1px solid var(--Kustom);
    outline: none;
  }
}
.boxSearch {
  height: 100%;
  width: 100%;
  margin: 0 0.3rem;
  padding: 0 0.4rem;
  color: var(--Col);
  display: flex;
  justify-content: center;
  align-items: center;
  background: none;
  border: none;
  border-left: 1px solid transparent;
  border-right: 1px solid transparent;
  &:focus {
    outline: none;
  }
}
.closeBtn {
  padding: 0.3rem;
  font-size: 1.4rem;
  color: var(--Col);
  border-right: 1px solid rgba(255, 255, 255, 0.2);
}
.Suggestion {
  width: 27rem;
  display: flex;
  flex-direction: column;
  gap: 0.3rem;
  position: absolute;
  top: 2.35rem;
  background: var(--Bg2);
}
.Suggestion:focus > .Space-Suggs:hover {
  display: flex;
}
.Space-Suggs {
  padding: 0.4rem;
  text-decoration: none;
  color: var(--Col);
  display: none;
  cursor: pointer;
  &:hover {
    color: var(--Bg2);
    background: var(--Kustom);
  }
}
.Space-Suggs img {
  height: 4rem;
  width: 10rem;
  object-fit: cover;
}
.Sugges_txt {
  margin-left: 0.4rem;
}
.gamename {
  font-size: 1.1rem;
  font-weight: bold;
}
.gameprice {
  font-size: 1.1rem;
}
/* categories */
.Categ {
  display: inline-block;
  position: relative;
  transition: var(--Ani);
}
.Categ:hover .categories {
  display: grid;
  transition: var(--Ani);
}
.categories {
  padding: 1rem;
  display: none;
  grid-template-columns: 1fr 1fr;
  gap: 0.3rem;
  position: absolute;
  top: 2.3rem;
  left: -33rem;
  border-radius: 1rem;
  background: var(--Bg);
  transition: var(--Ani);
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.Categ-Item {
  width: 28rem;
  padding: 0.2rem;
  font-size: 1.1rem;
  font-weight: 300;
  font-style: italic;
  text-decoration: none;
  color: var(--Col);

  &:hover {
    color: var(--Kustom);
  }
}
.Sub-item {
  margin-left: 0.3rem;
  font-size: 0.8rem;
  color: var(--Col-2);
}
/* Banner */
.top-banner {
  height: 30rem;
  width: 100%;
  background: var(--Bg2);
}
.slide {
  height: 30rem;
  width: 100%;
  position: relative;
}
.slide img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
}
.content-slide {
  border: 1px solid greenyellow;
}
/* content-slide {
  width: 18.7rem;
  padding: 0.4rem;
  position: absolute;
  top: 10.1rem;
  right: 5rem;
} */
/*  */
[data-component='slideshow'] .slide {
  display: none;
}
[data-component='slideshow'] .slide.active {
  display: block;
}
/* Sect 2 */
.Lastest {
  padding: 1rem;
}
.title-Latest {
  padding-left: 0.7rem;
  font-size: 1.3rem;
  color: var(--Col);
  border-left: 3px solid var(--Kustom);
}
.carousel-position {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.carousel-wrapper {
  height: 30rem;
  width: 50rem;
  padding: 2rem;
  position: relative;
}
.left-arrow {
  display: flex;
  position: absolute;
  top: 30vh;
  left: -2.5rem;
}
.right-arrow {
  display: flex;
  position: absolute;
  top: 30vh;
  right: -2.5rem;
}
.arrow-icon-left,
.arrow-icon-right {
  font-size: 2.4rem;
  color: var(--Col);
  cursor: pointer;
  z-index: 1;
  opacity: 0.7;
  transition: var(--Ani);
  &:hover {
    color: var(--Kustom);
    opacity: 1;
    transform: scale(1.2);
  }
}
.space-dot {
  margin: 1rem;
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.slideInput {
  display: none;
}
.nav-dot {
  height: 0.7rem;
  width: 1.3rem;
  padding: 0.1rem;
  cursor: pointer;
  opacity: 0.6;
  background: var(--Col);
  border-radius: 0.2rem;
  transition: var(--Ani);
  &:hover {
    opacity: 0.8;
    transform: scale(1.2);
  }
}
.nav-dot.dot-active {
  transform: scale(1.2);
  background: var(--Kustom);
}
/* Carousel Images */
.carousel {
  height: 100%;
  width: 100%;
  overflow: hidden;
  border-radius: 1rem;
}
.carousel ul {
  /* height: 100%;
  width: 100% ; */
  position: relative;
  list-style: none;
  overflow: hidden;
  transition: left 0.8s cubic-bezier(0.77, 0, 0.175, 1);
}
.carousel img {
  height: 100%;
  width: 100%;
  object-fit: cover;
}
/* Sect 03 */
.sect-03 {
  display: flex;
}
.sect-03_cont {
  width: 60%;
  padding: 1rem;
}
.sect-03_grid {
  padding: 1rem 0;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 3.3rem;
}
.Card-Offer {
  width: min-content;
  padding: 0.1rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: relative;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: var(--Ani);
  &:hover {
    color: var(--Bg);
    background: var(--Kustom);
  }
}
.price-Offer {
  width: 8rem;
  height: min-contentm;
  padding: 0.3rem;
  line-height: 24px;
  display: flex;
  justify-content: center;
  position: absolute;
  top: 0;
  right: -2rem;
  transform: rotate(20deg);
  background-color: var(--Kustom);
}
.Card-Offer img {
  width: 25rem;
  aspect-ratio: 16/9;
}
.marg {
  padding: 0 0.3rem;
  display: flex;
  flex-direction: column;
  position: relative;
}
.Card-Offer:hover .prod-price {
  color: var(--Bg);
}
.offer-space {
  display: flex;
  align-items: centers;
  gap: 0.7rem;
}
/* Rank */
.art-01 {
  width: 40%;
  padding: 1rem;
}
.product-ul {
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  gap: 0.4rem;
  list-style: none;
}
.product-a {
  width: 100%;
  padding: 0.1rem;
  text-decoration: none;
  color: var(--Col);

  display: flex;
  border: 1px solid rgba(255, 255, 255, 0.2);
  transition: var(--Ani);
  &:hover {
    color: var(--Bg);
    background: var(--Kustom);
  }
}
.product-a img {
  width: 10rem;
  object-fit: cover;
  aspect-ratio: 16/9;
}
.space-descrip {
  padding: 0.3rem 0.6rem;
  display: flex;
  flex-direction: column;
}
.prod-title {
  display: inline-block;
}
.prod-price {
  color: var(--Kustom);
  display: inline-block;
  transition: var(--Ani);
}
.product-a:hover .prod-price {
  color: var(--Bg);
}
.line {
  text-decoration: line-through;
  color: var(--Col);
}
.compatible {
  display: flex;
  gap: 0.4rem;
}
.compatible ion-icon {
  font-size: 1.1rem;
}
.Ranking-Numbers {
  width: 4rem;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  background: var(--Kustom);
}
.Division-Section {
  height: 0.1rem;
  width: 70%;
  margin: 0 auto;
  padding: 0.1rem;
  border-radius: 0.2rem;
  background: var(--Kustom);
}
/*  */
.sect-04 {
  margin-top: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.nav-text {
  padding: 0rem 5rem;
  display: flex;
  justify-content: space-between;
}
.BTN-a {
  padding: 0.3rem 0.5rem;
  font-size: 0.9rem;
  text-transform: uppercase;
  text-decoration: none;
  color: var(--Col);
  border: 2px solid var(--Kustom);
  border-radius: 0.4rem;
  &:hover {
    color: var(--Bg);
    background: var(--Kustom);
  }
}
.galeria-recomenda {
  padding: 1rem 6rem;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
