#Bg-login {
  background: url(../Asset/Bg_Dragon.png) var(--Bg) no-repeat fixed;
  background-size: cover;
  background-position: bottom center;
}
.head-2 {
  padding: 0.3rem;
  display: flex;
  justify-content: center;
}
.main-2 {
  display: flex;
  flex-direction: column;
  backdrop-filter: blur(12px);
  -webkit-backdrop-filter: blur(12px);
}
.forms {
  height: 92.9vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
.forms_image {
  position: relative;
}
.forms_image img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: center;
  border-radius: 1rem 0 0 1rem;
}
.forms_Bg {
  height: 100%;
  width: 100%;
  position: absolute;
  background: linear-gradient(
    320deg,
    rgb(255, 153, 0),
    rgba(255, 153, 0, 0.5),
    rgba(255, 153, 0, 0.1),
    rgba(255, 153, 0, 0)
  );
  border-radius: 1rem 0 0 1rem;
}
.forms-txt {
  width: 100%;
  padding: 0.5rem;
  font-size: 1.1rem;
  text-transform: uppercase;
  color: #fff;
  display: flex;
  justify-content: center;
  position: absolute;
  bottom: 0;
}
.forms_image,
.Wrap-forms {
  height: 75vh;
  width: 27rem;
}
/* FORMS TEXTS */
.Wrap-forms {
  padding: 2rem;
  display: flex;
  flex-direction: column;
  border-radius: 0 1rem 1rem 0;
  background: var(--Bg2);
}
/* header & Tabs */
.Registro {
  font-size: 1.1rem;
  font-weight: 600;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}
.Tab-Log {
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--Col);
}
.Tab-Log.active {
  font-size: 1.6rem;
  color: var(--Kustom);
  display: flex;
}
.tab-pane {
  display: flexe;
  flex-direction: column;
}
[data-tab-info] {
  display: none;
}
.active[data-tab-info] {
  display: flex;
}
.login {
  margin-left: 0.5rem;
  font-size: 1.5rem;
  text-decoration: none;
  color: var(--Kustom);
}
.email {
  margin-top: 0.5rem;
}
.title6 {
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--txt);
}
.email_bar {
  height: 2.4rem;
  width: 100%;
  padding: 0 0.7rem;
  font-size: 1rem;
  color: var(--txt);
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);

  border-radius: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
.password {
  margin: 1.3rem 0;
  display: flex;
  flex-direction: column;
}
.pass_txt {
  margin-top: 0.3rem;
  width: max-content;
  display: flex;
  color: var(--Col);
  &:hover {
    color: var(--Kustom);
  }
}
.msg-erro {
  color: red;
}
/* input Age */
.age {
  margin-top: 0.7rem;
}
input[type='date'] {
  width: 100%;
  padding: 0.3rem 0.7rem;
  font-size: 1rem;
  color: var(--Col);
  display: inline-block;
  visibility: visible;
  appearance: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 0.6rem;
  border: 1px solid rgba(255, 255, 255, 0.2);
}
input[type='date']::-webkit-calendar-picker-indicator {
  display: none;
}
input[type='date']::-webkit-clear-button {
  display: none;
}
input[type='date']::-webkit-calendar-picker-indicator {
  width: 100%;
  height: 100%;
  margin: 0;
  color: transparent;
  opacity: 0;
  pointer-events: auto;
  position: absolute;
  top: 0;
  left: 0;
  background: 0 0;
}
input[type='date']::-webkit-datetime-edit-month-field {
  padding: 0;
}
input[type='date']::-webkit-datetime-edit-day-field {
  padding: 0;
}
input[type='date']::-webkit-datetime-edit-year-field {
  padding: 0;
}
/* select-countries */
.select-countries {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.countries-txt {
  margin-bottom: 0.3rem;
  font-size: 1.2rem;
  font-weight: 400;
  color: var(--Col);
}
.select-countries select {
  height: 100%;
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1rem;
  color: var(--Col);
  appearance: none;
  background: rgba(255, 255, 255, 0.1);
  backdrop-filter: blur(7px);
  -webkit-backdrop-filter: blur(7px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.2);
  user-select: none;
  transition: var(--trans);

  &:focus {
    color: var(--Col);
    outline: none;
    border: 1px solid rgba(255, 153, 0);
    background: var(--Bg2);
  }
}
/* Termos e Política de Privacidade */
.terms-privacy {
  width: 100%;
  margin: 1rem 0;
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: 1rem;
}
/* Checkbox */
.check {
  height: 1.7em;
  width: 1.7em;
  margin: auto;
  color: var(--Kustom);
  display: grid;
  place-content: center;
  -webkit-appearance: none;
  appearance: none;
  background-color: transparent;
  border: 0.17em solid var(--Kustom);
  border-radius: 0.17em;

  &::before {
    content: '';
    width: 0.9em;
    height: 0.9em;
    display: grid;
    place-content: center;
    transform: scale(0);
    transition: 120ms transform ease-in-out;
    box-shadow: inset 1em 1em var(--Kustom);
  }
  &:checked::before {
    transform: scale(1);
  }
}
.label {
  width: 100%;
  font-size: 0.9rem;
  color: var(--txt);
}
.link-terms {
  color: var(--Kustom);
  &:hover {
    color: var(--Kustom-2);
  }
}
/* BTN */
.btn-registro {
  padding: 0.5rem 0.7rem;
  font-size: 1.2rem;
  font-weight: 600;
  text-transform: uppercase;
  color: var(--txt);
  letter-spacing: 1.2px;
  cursor: pointer;
  background-color: var(--Kustom-2);
  border: 1px solid var(--Kustom-2);
  border-radius: 1.2rem;
  transition: var(--Ani);

  &:hover {
    color: var(--txt);
    background-color: var(--Kustom);
    box-shadow: 0 0 13px 1px rgba(255, 153, 0, 0.5);
  }
}
/* login */
.others {
  padding: 1rem 0;
  display: flex;
  justify-content: center;
  gap: 3rem;
}
.other-list {
  list-style: none;
}
.other-midia {
  padding: 1rem;
  font-size: var(--Icons-size);
  color: var(--Col);
  display: flex;
  border-radius: 1rem;
  background-color: var(--Bg2);
  transition: var(--Ani);

  &:hover {
    scale: 1.1;
    background-color: rgb(255, 153, 0, 0.3);
  }
}
.text {
  font-size: 0.8rem;
  text-align: center;
  text-transform: uppercase;
  color: var(--Col);
}
